In [1]:
from openpyxl import load_workbook
wb = load_workbook(filename = 'test1.xlsx')
wb.active = 0
ws = wb.active
wb.sheetnames

['Sheet1',
 'Sheet2',
 'Sheet3',
 'Sheet4',
 'Sheet5',
 'Sheet6',
 'Sheet7',
 'Sheet8',
 'Sheet9',
 'Sheet10',
 'Sheet11']

In [2]:
def sumthis(x):
    x1 = x.shift(-1)
    names = ['% Delta VS. Sector Total', '$ Delta VS. Sector Total', '% Delta VS. SPX Total', '$ Delta VS. SPX Total',
            'Active % Return', 'Sector % Return', 'SPX % Return', 'Alpha VS. Sector', 'Alpha VS. SPX']
    a = []
    a.append((x.iloc[:,0] - x.iloc[:,1])/x.iloc[:,1])
    a.append(x.iloc[:,0] - x.iloc[:,1])
    a.append((x.iloc[:,0] - x.iloc[:,2])/x.iloc[:,2])
    a.append(x.iloc[:,0] - x.iloc[:,2])
    a.append((x1.iloc[:,0] - x.iloc[:,0])/x.iloc[:,0])
    a.append((x1.iloc[:,1] - x.iloc[:,1])/x.iloc[:,1])
    a.append((x1.iloc[:,2] - x.iloc[:,2])/x.iloc[:,2])
    a.append(((x1.iloc[:,0] - x.iloc[:,0])/x.iloc[:,0])-(x1.iloc[:,1] - x.iloc[:,1])/x.iloc[:,1])
    a.append(((x1.iloc[:,0] - x.iloc[:,0])/x.iloc[:,0])-(x1.iloc[:,2] - x.iloc[:,2])/x.iloc[:,2])
    temp = pd.concat(a,axis=1)
    temp.columns = names
    temp.iloc[:,4:9] = temp.iloc[:,4:9].shift(1).fillna(0)
    results = pd.merge(x,temp, on = ['Date'])
    return results

In [3]:
import pandas as pd
from functools import reduce
fileName = 'test1.xlsx'
df = []
for n in range(0,11):
    df.append(pd.read_excel(fileName,n,usecols = [0,11,12,13]).set_index('Date'))
df_final = reduce(lambda left,right: left.add(right,fill_value=0), df)

C:\Users\Jake\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:2777: FutureWarning: In the future, 'NAT < x' and 'x < NAT' will always be False.
  lvals[0] < other_diff[0]

In [5]:
df_final

                  Active        Sector           SPX
Date
NaT                  NaN           NaN           NaN
1999-12-31  1.000000e+05  1.000000e+05  1.000000e+05
2000-01-07  1.000000e+06  1.000000e+06  1.000000e+06
2000-01-14  1.013797e+06  1.005970e+06  1.016428e+06
2000-01-21  1.001470e+06  9.892192e+05  9.999237e+05
2000-01-28  9.438512e+05  9.379707e+05  9.435923e+05
2000-02-04  9.872631e+05  9.623116e+05  9.881371e+05
2000-02-11  9.675075e+05  9.314947e+05  9.622954e+05
2000-02-18  9.430416e+05  9.079275e+05  9.338314e+05
2000-02-25  9.335955e+05  8.813703e+05  9.250002e+05
2000-03-03  9.859767e+05  9.280849e+05  9.775923e+05
2000-03-10  9.769395e+05  9.094742e+05  9.678106e+05
2000-03-17  1.019249e+06  9.599835e+05  1.015956e+06
2000-03-24  1.062118e+06  9.859149e+05  1.059654e+06
2000-03-31  1.040408e+06  9.868095e+05  1.039619e+06
2000-04-07  1.050729e+06  9.966440e+05  1.051947e+06
2000-04-14  9.400463e+05  9.364822e+05  9.410949e+05
2000-04-21  9.953578e+05  9.727220e+05  9.951924e+05
2000-04-28  1.011972e+06  9.779877e+05  1.007603e+06
2000-05-05  9.981495e+05  9.742711e+05  9.938674e+05
2000-05-12  9.878417e+05  9.825865e+05  9.857715e+05
2000-05-19  9.775238e+05  9.788956e+05  9.760522e+05
2000-05-26  9.596183e+05  9.607728e+05  9.559824e+05
2000-06-02  1.019978e+06  9.979768e+05  1.024829e+06
2000-06-09  1.008561e+06  9.853144e+05  1.010739e+06
2000-06-16  1.013342e+06  9.917599e+05  1.015949e+06
2000-06-23  9.973529e+05  9.727634e+05  1.000007e+06
2000-06-30  1.000466e+06  9.729759e+05  1.009109e+06
2000-07-07  1.018930e+06  9.894599e+05  1.025967e+06
2000-07-14  1.041425e+06  1.004220e+06  1.047528e+06
...                  ...           ...           ...
2017-12-15  2.269536e+06  2.294072e+06  2.171939e+06
2017-12-22  2.275726e+06  2.298333e+06  2.178051e+06
2017-12-29  2.265538e+06  2.298462e+06  2.170154e+06
2018-01-05  2.326460e+06  2.340270e+06  2.226599e+06
2018-01-12  2.363885e+06  2.362422e+06  2.261575e+06
2018-01-19  2.386156e+06  2.375096e+06  2.281104e+06
2018-01-26  2.438656e+06  2.424883e+06  2.331892e+06
2018-02-02  2.346145e+06  2.329582e+06  2.242005e+06
2018-02-09  2.225491e+06  2.211512e+06  2.126273e+06
2018-02-16  2.325462e+06  2.289895e+06  2.217727e+06
2018-02-23  2.341184e+06  2.295397e+06  2.229967e+06
2018-03-02  2.295902e+06  2.238690e+06  2.184472e+06
2018-03-09  2.380664e+06  2.308404e+06  2.261843e+06
2018-03-16  2.349489e+06  2.285507e+06  2.233790e+06
2018-03-23  2.202372e+06  2.174965e+06  2.100876e+06
2018-03-30  2.247558e+06  2.221799e+06  2.143579e+06
2018-04-06  2.214306e+06  2.200959e+06  2.114033e+06
2018-04-13  2.260602e+06  2.233900e+06  2.156103e+06
2018-04-20  2.270653e+06  2.244130e+06  2.167337e+06
2018-04-27  2.269057e+06  2.251820e+06  2.167150e+06
2018-05-04  2.271679e+06  2.236943e+06  2.161882e+06
2018-05-11  2.329042e+06  2.274447e+06  2.214074e+06
2018-05-18  2.313925e+06  2.265736e+06  2.202102e+06
2018-05-25  2.323545e+06  2.267886e+06  2.208888e+06
2018-06-01  2.338828e+06  2.276634e+06  2.219675e+06
2018-06-08  2.374412e+06  2.312243e+06  2.255722e+06
2018-06-14  2.385098e+06  2.311321e+06  2.259211e+06
2018-06-22           NaN           NaN           NaN
2018-06-29           NaN           NaN           NaN
2018-07-05           NaN           NaN           NaN

[968 rows x 3 columns]

In [6]:
year_range = []
i = 3
i1 = 3
for rows in ws.iter_rows(min_row=i, max_col=1):
    x = ws.cell(row=i, column=1).value.year
    x1 = ws.cell(row=i1, column=1).value.year
    i += 1
    if x != x1 or i == i1 + 1:
        year_range.append(ws.cell(row = i - 1, column = 1).value)
        i1 = i - 1

if ws.cell(row=i-1, column=1).value != year_range[-1]:
    year_range.append(ws.cell(row = i - 1, column = 1).value)
year_range[0:5]

[datetime.datetime(2000, 1, 7, 0, 0),
 datetime.datetime(2001, 1, 5, 0, 0),
 datetime.datetime(2002, 1, 4, 0, 0),
 datetime.datetime(2003, 1, 3, 0, 0),
 datetime.datetime(2004, 1, 2, 0, 0)]

In [7]:
df_year = pd.DataFrame(year_range, columns = ['Date'])
df_year.tail()

         Date
15 2015-01-02
16 2016-01-01
17 2017-01-06
18 2018-01-05
19 2018-06-14

In [8]:
year_results = (pd.merge(df_year,df_final, on = 'Date').set_index('Date'))/10
year_results

                   Active         Sector            SPX
Date
2000-01-07  100000.000000  100000.000000  100000.000000
2001-01-05   93991.454618   97590.160671   90071.246713
2002-01-04   84460.383747   89340.242079   81341.269676
2003-01-03   75921.197043   82254.613577   73749.720407
2004-01-02   89985.767233   98115.383710   89974.675131
2005-01-07   96215.713447  108566.280631   96282.350510
2006-01-06  106371.417477  121810.978480  104339.226821
2007-01-05  117611.962873  137591.780804  114425.338553
2008-01-04  122639.595022  140960.948121  114581.183833
2009-01-02   79961.474969   93554.097324   75633.662571
2010-01-01   96518.945177  108630.614855   90512.016670
2011-01-07  109350.458901  125644.560520  103206.913457
2012-01-06  109615.925118  129416.197768  103719.092477
2013-01-04  123515.128458  145733.884207  119032.514650
2014-01-03  156764.592972  172717.883359  148651.234839
2015-01-02  177902.954839  192679.730328  167062.893651
2016-01-01  176337.527442  185836.743873  165905.417767
2017-01-06  192172.062530  205163.199533  184821.138658
2018-01-05  232645.984237  234027.032258  222659.885686
2018-06-14  238509.784068  231132.134404  225921.051631

In [9]:
sumthis(year_results)

,Active,Sector,SPX,% Delta VS. Sector Total,$ Delta VS. Sector Total,% Delta VS. SPX Total,$ Delta VS. SPX Total,Active % Return,Sector % Return,SPX % Return,Alpha VS. Sector,Alpha VS. SPX
Date,,,,,,,,,,,,
2000-01-07,100000.000000,100000.000000,100000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2001-01-05,93991.454618,97590.160671,90071.246713,-0.036876,-3598.706053,0.043523,3920.207905,-0.060085,-0.024098,-0.099288,-0.035987,0.039202
2002-01-04,84460.383747,89340.242079,81341.269676,-0.054621,-4879.858331,0.038346,3119.114071,-0.101404,-0.084536,-0.096923,-0.016867,-0.004481
2003-01-03,75921.197043,82254.613577,73749.720407,-0.076998,-6333.416534,0.029444,2171.476636,-0.101103,-0.079311,-0.093330,-0.021792,-0.007773
2004-01-02,89985.767233,98115.383710,89974.675131,-0.082858,-8129.616478,0.000123,11.092102,0.185252,0.192825,0.220000,-0.007573,-0.034748
2005-01-07,96215.713447,108566.280631,96282.350510,-0.113761,-12350.567183,-0.000692,-66.637063,0.069233,0.106516,0.070105,-0.037284,-0.000872
2006-01-06,106371.417477,121810.978480,104339.226821,-0.126750,-15439.561003,0.019477,2032.190655,0.105551,0.121996,0.083680,-0.016445,0.021872
2007-01-05,117611.962873,137591.780804,114425.338553,-0.145211,-19979.817931,0.027849,3186.624320,0.105673,0.129552,0.096667,-0.023879,0.009006
2008-01-04,122639.595022,140960.948121,114581.183833,-0.129975,-18321.353099,0.070329,8058.411189,0.042748,0.024487,0.001362,0.018261,0.041386
2009-01-02,79961.474969,93554.097324,75633.662571,-0.145292,-13592.622355,0.057221,4327.812398,-0.347996,-0.336312,-0.339912,-0.011684,-0.008084
2010-01-01,96518.945177,108630.614855,90512.016670,-0.111494,-12111.669679,0.066366,6006.928507,0.207068,0.161153,0.196716,0.045915,0.010352
2011-01-07,109350.458901,125644.560520,103206.913457,-0.129684,-16294.101620,0.059526,6143.545444,0.132943,0.156622,0.140256,-0.023679,-0.007314
2012-01-06,109615.925118,129416.197768,103719.092477,-0.152997,-19800.272649,0.056854,5896.832641,0.002428,0.030018,0.004963,-0.027591,-0.002535
2013-01-04,123515.128458,145733.884207,119032.514650,-0.152461,-22218.755749,0.037659,4482.613808,0.126799,0.126087,0.147643,0.000712,-0.020844
2014-01-03,156764.592972,172717.883359,148651.234839,-0.092366,-15953.290387,0.054580,8113.358133,0.269193,0.185159,0.248829,0.084034,0.020365
2015-01-02,177902.954839,192679.730328,167062.893651,-0.076691,-14776.775489,0.064886,10840.061188,0.134841,0.115575,0.123858,0.019267,0.010983
2016-01-01,176337.527442,185836.743873,165905.417767,-0.051116,-9499.216431,0.062880,10432.109674,-0.008799,-0.035515,-0.006928,0.026715,-0.001871
2017-01-06,192172.062530,205163.199533,184821.138658,-0.063321,-12991.137002,0.039773,7350.923873,0.089797,0.103997,0.114015,-0.014200,-0.024218
2018-01-05,232645.984237,234027.032258,222659.885686,-0.005901,-1381.048021,0.044849,9986.098552,0.210613,0.140687,0.204732,0.069926,0.005881
2018-06-14,238509.784068,231132.134404,225921.051631,0.031920,7377.649664,0.055722,12588.732437,0.025205,-0.012370,0.014646,0.037575,0.010558

In [ ]:
month_range = []
i = 3
i1 = 3
for rows in ws.iter_rows(min_row=i, max_col=1):
    x = ws.cell(row=i, column=1).value.month
    x1 = ws.cell(row=i1, column=1).value.month
    i += 1
    if x != x1 or i == i1 + 1:
        month_range.append(ws.cell(row = i - 1, column = 1).value)
        i1 = i - 1

if ws.cell(row=i-1, column=1).value != month_range[-1]:
    month_range.append(ws.cell(row = i - 1, column = 1).value)
month_range[0:5]

In [ ]:
df_month = pd.DataFrame(month_range, columns = ['Date'])
df_month.tail()

In [ ]:
month_results = (pd.merge(df_month,df_final, on = 'Date').set_index('Date'))/10
month_results.head()

                  Active        Sector           SPX
Date
NaT                  NaN           NaN           NaN
1999-12-31  1.000000e+05  1.000000e+05  1.000000e+05
2000-01-07  1.000000e+06  1.000000e+06  1.000000e+06
2000-01-14  1.013797e+06  1.005970e+06  1.016428e+06
2000-01-21  1.001470e+06  9.892192e+05  9.999237e+05
2000-01-28  9.438512e+05  9.379707e+05  9.435923e+05
2000-02-04  9.872631e+05  9.623116e+05  9.881371e+05
2000-02-11  9.675075e+05  9.314947e+05  9.622954e+05
2000-02-18  9.430416e+05  9.079275e+05  9.338314e+05
2000-02-25  9.335955e+05  8.813703e+05  9.250002e+05
2000-03-03  9.859767e+05  9.280849e+05  9.775923e+05
2000-03-10  9.769395e+05  9.094742e+05  9.678106e+05
2000-03-17  1.019249e+06  9.599835e+05  1.015956e+06
2000-03-24  1.062118e+06  9.859149e+05  1.059654e+06
2000-03-31  1.040408e+06  9.868095e+05  1.039619e+06
2000-04-07  1.050729e+06  9.966440e+05  1.051947e+06
2000-04-14  9.400463e+05  9.364822e+05  9.410949e+05
2000-04-21  9.953578e+05  9.727220e+05  9.951924e+05
2000-04-28  1.011972e+06  9.779877e+05  1.007603e+06
2000-05-05  9.981495e+05  9.742711e+05  9.938674e+05
2000-05-12  9.878417e+05  9.825865e+05  9.857715e+05
2000-05-19  9.775238e+05  9.788956e+05  9.760522e+05
2000-05-26  9.596183e+05  9.607728e+05  9.559824e+05
2000-06-02  1.019978e+06  9.979768e+05  1.024829e+06
2000-06-09  1.008561e+06  9.853144e+05  1.010739e+06
2000-06-16  1.013342e+06  9.917599e+05  1.015949e+06
2000-06-23  9.973529e+05  9.727634e+05  1.000007e+06
2000-06-30  1.000466e+06  9.729759e+05  1.009109e+06
2000-07-07  1.018930e+06  9.894599e+05  1.025967e+06
2000-07-14  1.041425e+06  1.004220e+06  1.047528e+06
...                  ...           ...           ...
2017-12-15  2.269536e+06  2.294072e+06  2.171939e+06
2017-12-22  2.275726e+06  2.298333e+06  2.178051e+06
2017-12-29  2.265538e+06  2.298462e+06  2.170154e+06
2018-01-05  2.326460e+06  2.340270e+06  2.226599e+06
2018-01-12  2.363885e+06  2.362422e+06  2.261575e+06
2018-01-19  2.386156e+06  2.375096e+06  2.281104e+06
2018-01-26  2.438656e+06  2.424883e+06  2.331892e+06
2018-02-02  2.346145e+06  2.329582e+06  2.242005e+06
2018-02-09  2.225491e+06  2.211512e+06  2.126273e+06
2018-02-16  2.325462e+06  2.289895e+06  2.217727e+06
2018-02-23  2.341184e+06  2.295397e+06  2.229967e+06
2018-03-02  2.295902e+06  2.238690e+06  2.184472e+06
2018-03-09  2.380664e+06  2.308404e+06  2.261843e+06
2018-03-16  2.349489e+06  2.285507e+06  2.233790e+06
2018-03-23  2.202372e+06  2.174965e+06  2.100876e+06
2018-03-30  2.247558e+06  2.221799e+06  2.143579e+06
2018-04-06  2.214306e+06  2.200959e+06  2.114033e+06
2018-04-13  2.260602e+06  2.233900e+06  2.156103e+06
2018-04-20  2.270653e+06  2.244130e+06  2.167337e+06
2018-04-27  2.269057e+06  2.251820e+06  2.167150e+06
2018-05-04  2.271679e+06  2.236943e+06  2.161882e+06
2018-05-11  2.329042e+06  2.274447e+06  2.214074e+06
2018-05-18  2.313925e+06  2.265736e+06  2.202102e+06
2018-05-25  2.323545e+06  2.267886e+06  2.208888e+06
2018-06-01  2.338828e+06  2.276634e+06  2.219675e+06
2018-06-08  2.374412e+06  2.312243e+06  2.255722e+06
2018-06-14  2.385098e+06  2.311321e+06  2.259211e+06
2018-06-22           NaN           NaN           NaN
2018-06-29           NaN           NaN           NaN
2018-07-05           NaN           NaN           NaN

[968 rows x 3 columns]

In [ ]:
sumthis(month_results)

In [ ]:
ws = wb.create_sheet('Years')

In [ ]:
from openpyxl.utils.dataframe import dataframe_to_rows
for r in dataframe_to_rows(temp, index=True, header=True):
    ws.append(r)

In [ ]:
wb.save('testlook.xlsx')